<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
   <link rel="stylesheet" href="/css/barra-navegacion.css">
    <title>Papelería Estrella</title>
</head>

<body>
<% if (errorMessage) { %>
  <script>
    alert("<%= errorMessage %>");
  </script>
<% } %>
<%- include('template/barra-navegacion') %>


    <main class="container">
  <section class="products">
    <div class="product-grid">
      <% if (productos && productos.length) { %>
        <% productos.forEach(p => { %>
          <a href="/productos/detalle/<%= p._id %>" class="product-link">
            <div class="product-card">
              <img src="<%= p.imagen || '/img/placeholder.png' %>" alt="<%= p.nombre %>">
              <h3><%= p.nombre %></h3>
              <p class="price">
                <% if (p.descuento) { %>
                  <span style="text-decoration: line-through; color:#888;">
                    $<%= p.precio.toFixed(2) %>
                  </span>
                  <strong style="color: #e60000;">
                    $<%= p.descuento.precioDesc.toFixed(2) %>
                  </strong>
                <% } else { %>
                  $<%= p.precio.toFixed(2) %>
                <% } %>
              </p>
              <% if (p.descuento) { %>
                <span class="badge-descuento">‑<%= p.descuento.porcentaje %>%</span>
              <% } %>
              <p class="reviews">Stock disponible: <%= p.stock %></p>
            </div>
          </a>
        <% }) %>
      <% } else { %>
        <p>No hay productos disponibles.</p>
      <% } %>
    </div>
  </section>
</main>

    <script>
        // Añadir esta parte para evitar que se vea el producto con stock 0 cuando se retrocede
        window.addEventListener('pageshow', function (event) {
          if (event.persisted) {
            // Esto indica que la página fue cargada desde el caché del navegador
            window.location.reload(); // Fuerza una recarga desde el servidor
          }
        });
    </script>
</body>
</html>

