<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= producto.nombre %> - Detalle del Producto</title>
    <link rel="stylesheet" href="/css/ProductoSeleccionar.css">
    <link rel="stylesheet" href="/css/barra-navegacion.css">
</head>
<body>

<%- include('template/barra-navegacion', { carrito }) %>

    <!-- Mostrar el mensaje de error si existe -->
    <% if (session.errorMessage) { %>
        <div class="error-message">
            <p><%= session.errorMessage %></p>
        </div>
        <% session.errorMessage = null; %> <!-- Limpiar el mensaje después de mostrarlo -->
    <% } %>
    
    <div style="margin-top: 30px;" class="product-container">
        <div class="product-image">
            <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
        </div>

        <div class="product-details">
            <p class="price">Precio: <strong>$<%= producto.precio.toFixed(2) %></strong></p>
            <h1><%= producto.nombre %></h1>

            <p class="description">
                <%= producto.descripcion %>
            </p>

            <form action="/usuarios/carrito/agregar" method="POST">
                <input type="hidden" name="productoId" value="<%= producto._id %>">

                <div class="options">
                    <div class="quantity">
                        <label for="cantidad">Cantidad:</label>
                        <select name="cantidad" id="cantidad">
                            <% for (let i = 1; i <= Math.min(producto.stock, 20); i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <p class="final-price"><strong>$<%= producto.precio.toFixed(2) %></strong></p>

                <div class="buttons">
                    <button type="submit" class="add-to-cart">Añadir al carrito</button>
                </div>
            </form>
            <form action="/listaDeseos/listaDeseos/agregar/<%= producto._id %>" method="POST">
                <button type="submit" class="wishlist">❤️</button>
            </form>
        </div>
    </div>
</body>
</html>
